/* font face add */
/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */

@font-face {
  font-family: PetcoCircularTT-Regular;
  src: url(assets/fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
    url(assets/fonts/PetcoCircularTT-Regular.woff) format("woff");
}

@font-face {
  font-family: PetcoCircularTT-Bold;
  src: url(assets/fonts/PetcoCircularTT-Bold.woff2) format("woff2"),
    url(/assets/fonts/PetcoCircularTT-Bold.woff) format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: "PetcoCircularTT-Regular", arial !important;
}
/* default css */
h1,
h2,
h3,
h4,
h5,
h6,
sup,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
/* -----------slider style-------------- */
.citrusRoyalCanin__firstSlideContainer, .citrusRoyalCanin__secondSlideContainer, .citrusRoyalCanin__thirdSlideContainer {
  width: 100%;
  max-width: 100%;
  height: 240px;
  overflow: hidden !important;
  margin: auto;
}

.citrusRoyalCanin__firstSlide_Row,
.citrusRoyalCanin__secondSlide_Row,
.citrusRoyalCanin__thirdSlide_Row {
  display: grid;
  border-bottom: 2px solid #E2E2E2;
  max-width: 100%;
  overflow: hidden;
  height: 240px;
}

.citrusRoyalCanin__firstSlide_Row {
  grid-template-columns: 31.95% 36.1% 31.95%;
}

.citrusRoyalCanin__firstSlide_Row img,
.citrusRoyalCanin__imgContainer img {
  max-width: 100%;
  object-fit: contain;
}
.citrusRoyalCanin__FirstSlide_first_image{
  width: 100%;
  max-width: 355px;
  padding-left: 100px;
  padding-top: 50px;
}
.citrusRoyalCanin__FirstSlide_Second_image{
  width: 100%;
  max-width: 260px!important;
  padding-left: 5px;
  padding-top: 18px;
}
.citrusRoyalCanin__firstSlide__middleContainer, .citrusRoyalCanin__secondSlide__middleContainer, .citrusRoyalCanin__thirdSlide__middleContainer  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px 35px;
  height: 237px;
}
.citrusRoyalCanin__logo {
  width: 120px;
  max-width: 100%;
  position: absolute;
  top: 10px;
  left: 20px;
}
.citrusRoyalCanin__firstSlide__title,
.citrusRoyalCanin__secondSlide__title,
.citrusRoyalCanin__thirdSlide__title {
  font-family: "PetcoCircularTT-bold", arial !important;
  font-size: 35px;
  line-height: 33px;
  font-weight: bold;
  color: #ED1C24;
  text-align: center;
}
.citrusRoyalCanin__Middle_textContainer{
  width: 100%;
}
.citrusRoyalCanin__Middle_textContainer p,
.citrusRoyalCanin__secondSlide__textContainer p {
  width: 90%;
  margin: auto;
  text-align: center;
}
.citrusRoyalCanin__sliderText {
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;
  padding: 5px;
}
.citrusRoyalCanin__MiddleCTA-Box,
.citrusRoyalCanin__secondSlideCTA-Box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  text-align: center;
}
.citrusRoyalCanin__shopCTALarge {
  background: #001952;
  text-transform: uppercase;
  color: #fff;
  width: 211px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  border-radius: 8px;
  margin: 0px 12px;
}
/* 2nd */
.citrusRoyalCanin__secondSlideContainer {
  width: 1440px;
  max-width: 100%;
  margin: auto;
  background: #fff;
}
.citrusRoyalCanin__secondSlide_Row {
  background-image: url(../assets/images/Hero_2.2_dsk_middle_bg.png);
  background-size: contain;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 29.45% 41.1% 29.45%;
}
.citrusRoyalCanin__secondSlide_Row img{
  height: 240px!important;
  object-fit: cover!important;
}
.citrusRoyalCanin__secondSlide__Col,
.citrusRoyalCanin__thirdSlide__col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.citrusRoyalCanin__logoPremium img {
  width: 232px;
  max-width: 100%;
}
.citrusRoyalCanin__secondSlideCTA-Box {
  display: flex;
  justify-content: center;
}
/* 3rd */
.citrusRoyalCanin__thirdSlide_Row {
  grid-template-columns: 30.55% 38.9% 30.55%;
}
.citrusRoyalCanin__thirdSlide__col {
  justify-content: start;
}

.citrusRoyalCanin__thirdSlide__title {
  padding-top: 30px;
}
.citrusRoyalCanin__thirdSlide__title span {
  display: inline-block;
}
.sliderCTAcenter{
  display: inline-flex;
}
.citrusRoyalCanin__thirdSlide_last_image{
  width: 100%;
  max-width: 212px!important;
  padding-left: 30px;
  padding-top: 0px;
}
.citrusRoyalCanin__thirdSlide__Product_Row{
  padding-top: 36px;
  padding-left: 47px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 32% 32% 36%;
  text-align: center;
  /* grid-gap: 15px; */
  height: 240px;
}
.citrusRoyalCanin__thirdSlide__Product_col{
  justify-content: start;
}
.citrusRoyalCanin__thirdSlide__Product_col_gap{
  padding-left: 11%;
}
.citrusRoyalCanin__thirdSlide__Product_col h3{
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
}
/* ------------End Slider Style ------------ */

/* -----------RoyalCanin benefits Start-------------- */
.citrus_RoyalCanin_benefitus_area {
  overflow: hidden;
  padding-top: 36px;
  padding-bottom: 10px;
}

.citrus_RoyalCanin_containers {
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;
}

.citrus_RoyalCanin_single_b_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.citrus_RoyalCanin_single_banifit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66%;
  flex: 0 0 16.66%;
  text-align: center;
}

.citrus_RoyalCanin_single_banifit > img {
  max-width: 155px;
  width: 100%;
  height: auto;
}
.citrus_RoyalCanin_cmon-heading > h2 {
  color: #000000;
  font-family: "PetcoCircularTT-Bold", arial !important;
  display: block;
  text-align: center;
  font-size: 25px;
  padding-bottom: 27px;
}
.citrus_RoyalCanin_single_banifit h3 {
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 600;
  display: block;
  padding: 17px 0px;
}
.citrus_RoyalCanin_single_banifit p {
  width: 90%;
  margin: 0 auto;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

/* -----------RoyalCanin benefits End-------------- */

/* -----------RoyalCanin Video Start-------------- */
.citrus_RoyalCanin__video_container {
  width: 100%;
  max-width: 1440px;
  min-height: 370px;
  margin: 5rem auto 2.4rem;
  background-image: url(../assets/images/Video_bg.png);

}
.citrus_RoyalCanin__video_container_vidoeRow{
    max-width: 1075px;
    margin: 0px auto;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    align-items: center;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col {
  width: 50%;
}
.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col img {
  width: 100%;  
  margin-top: -15%; 
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .single-video {
  max-width: 537px;
  margin: 0px auto;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .single-video iframe {
  width: 100%;
  min-height: 36vh;
  margin-top: -15%;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .video-text {
  text-align: center;
  padding: 5rem 0;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .video-text h3 {
  width: 80%;
  margin: 0px auto;
  font-size: 25px;
  color: #000000;
  font-family: "PetcoCircularTT-Bold", arial !important;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .video-text p {
  padding: 24px 15px;
  max-width: 400px;
  margin: 0 auto;
  font-size: 16px;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .video-text p sup {
  font-size: 12px;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .video-text .cta-box a {
  margin: 0 auto;
  max-width: 211px;
}

.citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col .video-text .disclaimer p {
  font-size: 12px;
  padding: 10px 0;
}
.citrus_RoyalCanin__packages .citrus_RoyalCanin__packages_wrapper .citrus_RoyalCanin__packages_wrapper--single-package {
  margin: 24px;
  background: #F4F7FF;
}

.citrus_RoyalCanin__packages .citrus_RoyalCanin__packages_wrapper .citrus_RoyalCanin__packages_wrapper--single-package a {
  display: block;
  text-align: center;
}

.citrus_RoyalCanin__packages .citrus_RoyalCanin__packages_wrapper .citrus_RoyalCanin__packages_wrapper--single-package a .single-package__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.citrus_RoyalCanin__packages .citrus_RoyalCanin__packages_wrapper .citrus_RoyalCanin__packages_wrapper--single-package a .single-package__text h3 {
  font-size: 20px;
  color: #000000;
  font-family: "PetcoCircularTT-Bold", arial !important;
  padding: 3rem 15px;
}
/* -----------RoyalCanin Video End-------------- */

/* -----------RoyalCanin CallToAction Start-------------- */
.citrus_RoyalCanin__calltoaction_container {
  width: 100%;
  max-width: 1440px;
  min-height: 370px;
  margin: 2.5rem auto 4rem;
  background-image: url(../assets/images/CallToAction_BG.png);

}
.citrus_RoyalCanin__calltoaction_container_vidoeRow{
    max-width: 1075px;
    margin: 0px auto;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    align-items: center;
}

.citrus_RoyalCanin__calltoaction_container .citrus_RoyalCanin__calltoaction_container--col {
  width: 50%;
}
.citrus_RoyalCanin__calltoaction_container .citrus_RoyalCanin__calltoaction_container--col img {
  /* max-width: 537px; */
  width: 100%;  
  margin-top: -6%; 
}
/* -----------RoyalCanin CallToAction End-------------- */


/* -----------RoyalCanin Product Start-------------- */
.citrusRoyalCanin__sectionTitle h2 {
  color: #000;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

/************************** The perfect recipe for every pet ****************************** */
.citrusRoyalCanin__perfectContainer {
  margin-top: 37px;
  margin-bottom: 70px;
}
.citrusRoyalCanin__perfect__row {
  width: 1095px;
  max-width: 100%;
  margin: auto;
  height: 275px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 0;
  background: rgba(141, 155, 58, 20%);
}
.citrusRoyalCanin__perfect__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.citrusRoyalCanin__perfect__col img {
  max-width: 100%;
  height: 275px;
}
.citrusRoyalCanin__perfect__col p {
  font-size: 16px;
  margin: 0 14%;
  text-align: center;
}
/*  slider custom styling */
.citrusRoyalCanin__sliderBox {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  height: 240px;
  overflow: hidden;
  position: relative;
}
#image-carousel .splide__arrows {
  display: none;
}
ul.splide__pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  position: absolute;
  bottom: -17px;
  left: calc(100% / 2 - 50px);
  text-align: center;
  background: rgb(189 189 189 / 80%);
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 5px;
  width: 100px;
}
ul.splide__pagination button {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #09205c;
  cursor: pointer;
}

ul.splide__pagination button.is-active {
  background-color: #09205c;
}
/* -------------------------------------------------------
 product tab styling
----------------------------------------------------------
*/
.citrus-meet-orijen-tab-area {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 26px;
}

.citrus-meet-orijen-tab-container {
  /* max-width: 1273px; */
  max-width: 1253px;
  width: 100%;
  margin: 0 auto;
}

/***** best seller section ****/
.citrusfilterMeetDiv.citrusTabshow {
  display: block;
}

.citrusfilterMeetDiv {
  float: left;
  display: none;
}

.citrus_meet_tab_item span {
  display: block;
}

.citrus_meet_tab_item {
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 0px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: #6e6b6b;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

button {
  font-family: "PetcoCircularTT-Regular", arial !important;
}

.citrus_meet_tab_item.citrus_meet_tab_item_active {
  color: #001952;
  border-bottom: 8px solid #001952;
  margin-top: 12px;
}

.citrus-meet-orijen-main21 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 30px;
  border-bottom: 1px solid #021b4e;
}

.cirtus_meet_tabs_22 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.citrus_item_section__tab_content_item {
  max-width: 191px;
  width: 100% !important;
  margin: 0px 9px;
}

.citrus-inner-img22 {
  padding: 0 15px;
}

.citrus-inner-img22 > a img {
  width: 100%;
  height: auto;
}

.citrus_item_section__tab_content_item.citrus_row_opacity_0 {
  opacity: 0;
}

.cirtus_meet_tabs_main_22 .splide__pagination {
  display: none;
}

.citrus_product_info22 > p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #333333;
  font-size: 13px;
  text-align: left;
  padding: 0px 0 0px;
  margin-top: 20px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em;
  margin-bottom: 24px;
}

.citrus-meet-tab-product > a {
  color: #001952;
  font-size: 13px;
  display: block;
  font-family: "PetcoCircularTT-Bold", arial !important;
  text-decoration: underline;
  font-weight: bold;
}

.cirtus_meet_tabs_22 .splide__arrow--next {
  right: 0px;
}

.cirtus_meet_tabs_22 .splide__arrow--prev {
  left: 2px;
}

.cirtus_meet_tabs_22 .splide__arrow svg {
  fill: #122359;
}

.cirtus_meet_tabs_22 .splide__arrow {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #122359;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 2.2em;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2.2em;
  z-index: 1;
}
/* VIDOE style S*/
.video_sliderCTAcenter{
  display: inline-flex;
}
/* VIDOE style e*/


.citrusRoyalCanin__calltoaction_Product_Row{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}


/* some common style */
.citrusRoyalCanin__desktop_hide {
  display: none;
}
.citrusRoyalCanin__mobile_hide {
  display: block;
}

/* responsive styling start for small devices */

@media all and (max-width: 1440px) {
  .citrusRoyalCanin__firstSlide__middleContainer {
    /* height: 380px; */
  }
}

@media all and (min-width: 992px) and (max-width: 1301px) {
  .citrusRoyalCanin__firstSlide__title,
  .citrusRoyalCanin__secondSlide__title,
  .citrusRoyalCanin__thirdSlide__title {
    font-family: "PetcoCircularTT-bold", arial !important;
    font-size: 26px;
    line-height: 28px;
    font-weight: bold;
    color: #ED1C24;
    text-align: center;
  }
  .citrusRoyalCanin__sliderText{
    font-size: 15px;
    line-height: 16px;
  }
  .citrusRoyalCanin__logo {
    width: 120px;
    max-width: 100%;
  }
  .citrusRoyalCanin__FirstSlide_first_image{
    padding-left: 50px;
    padding-top: 60px;
  }
  .citrusRoyalCanin__secondSlide__textContainer,
  .citrusRoyalCanin__thirdSlide__textContainer {
    row-gap: 10px;
    margin-top: -30px;
  }
  .citrusRoyalCanin__shopCTALarge {
    background: #001952;
    text-transform: uppercase;
    color: #fff;
    width: 160px;
    height: 46px;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    border-radius: 8px;
  }
  .citrusRoyalCanin__firstSlide__middleContainer {
    margin-top: 10px;
    row-gap: 20px;
    height: auto;
  }
  /* slider custom styling */
  .citrusRoyalCanin__SliderContainer {
    /* height: 300px; */
    overflow: hidden;
  }
  #image-carousel,
  .citrusRoyalCanin__thirdSlide_Row,
  .citrusRoyalCanin__firstSlide_Row,
  .citrusRoyalCanin__secondSlide_Row {
    height: 240px;
  }
  .citrusRoyalCanin__thirdSlide__Product_col h3{
    font-size: 14px;
    line-height: 16px;
  }
  #image-carousel .splide__track {
    height: 100%;
  }
  .citrusRoyalCanin__imgContainer .citrusRoyalCanin__mobile_hide img {
    height: 100vh;
  }
  ul.splide__pagination {
    /* bottom: -7px; */
  }

  .citrus_meet_tab_item {
    font-size: 12px;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  /* ---------------------- */

  /* slider custom styling */
  .citrusRoyalCanin__firstSlideContainer, .citrusRoyalCanin__secondSlideContainer, .citrusRoyalCanin__thirdSlideContainer{
    height: 200px;
  }
  .citrusRoyalCanin__SliderContainer #image-carousel {
    height: 200px;
  }
  .citrusRoyalCanin__firstSlideContainer,
  .citrusRoyalCanin__thirdSlide_Row {
    height: auto;
  }
  .citrusRoyalCanin__firstSlide_Row, .citrusRoyalCanin__secondSlide_Row, .citrusRoyalCanin__thirdSlide_Row {
    height: 200px;
    /* background-position: top; */
  }
  .citrusRoyalCanin__secondSlide__textContainer,
  .citrusRoyalCanin__thirdSlide__textContainer {
    row-gap: 10px;
  }
  .citrusRoyalCanin__firstSlide__middleContainer, .citrusRoyalCanin__secondSlide__middleContainer, .citrusRoyalCanin__thirdSlide__middleContainer {
    height: 160px;
    padding: 0 10px;
  }
  .citrusRoyalCanin__secondSlide_Row img, .citrusRoyalCanin__FirstSlide_first_image, .citrusRoyalCanin__FirstSlide_Second_image{
    height: 200px!important;
  }
  .citrusRoyalCanin__thirdSlide__title{
    padding-top: 0px;
  }
  .citrusRoyalCanin__goBeyond__Card--body {
    padding: 40px;
  }

  .citrusRoyalCanin__firstSlide__title,
  .citrusRoyalCanin__secondSlide__title,
  .citrusRoyalCanin__thirdSlide__title {
    font-size: 22px;
    line-height: 24px;
  }

  .citrusRoyalCanin__sliderText{
    font-size: 11px;
    line-height: 13px;
  }
  .citrusRoyalCanin__logo {
    width: 100px;
    max-width: 100%;
  }
  .citrusRoyalCanin__thirdSlide__Product_col h3{
    font-size: 10px;
    line-height: 12px;
  }
  .citrusRoyalCanin__FirstSlide_first_image{
    padding-left: 0px;
    padding-top: 60px;
  }
  .citrus-meet-orijen-tab-container {
    padding: 0 20px;
  }
  .citrusRoyalCanin__newPremium__container {
    padding: 0 20px;
  }
  .citrusRoyalCanin__newPremium__productShot--card__img {
    height: 120px;
  }
  .citrusRoyalCanin__newPremium__productShot--card__body p {
    font-size: 12px;
  }
  .citrusRoyalCanin__shopCTALarge {
    width: 140px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    margin: 0px;
  }
  .citrus_meet_tab_item {
    font-size: 10px;
  }
}
@media all and (max-width: 768px) {
  .citrusRoyalCanin__desktop_hide {
    display: block;
  }
  .citrusRoyalCanin__mobile_hide {
    display: none;
  }
  /* **************slider styling -------------1st----- */
  .citrusRoyalCanin__firstSlideContainer, .citrusRoyalCanin__secondSlideContainer, .citrusRoyalCanin__thirdSlideContainer{
    height: auto;
  }
  .citrusRoyalCanin__firstSlide_Row, .citrusRoyalCanin__secondSlide_Row, .citrusRoyalCanin__thirdSlide_Row {
    height: auto;
  }
  .citrusRoyalCanin__SliderContainer #image-carousel {
    height: auto;
  }
  .citrusRoyalCanin__firstSlide__title,
  .citrusRoyalCanin__secondSlide__title,
  .citrusRoyalCanin__thirdSlide__title {
    font-family: "PetcoCircularTT-bold", arial !important;
    font-size: 25px;
    line-height: 26px;
    font-weight: bold;
    color: #ED1C24;
    text-align: center;
  }
  /* .citrusRoyalCanin__firstSlideContainer,
  .citrusRoyalCanin__thirdSlide_Row {
    width: 1440px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
  } */
  .citrusRoyalCanin__firstSlide_Row, .citrusRoyalCanin__secondSlide_Row, .citrusRoyalCanin__thirdSlide_Row {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .citrusRoyalCanin__firstSlide_Row img,
  .citrusRoyalCanin__imgContainer img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
  }
  .citrusRoyalCanin__secondSlide_Row img{
    height: auto!important;
  }
  .citrusRoyalCanin__thirdSlide__Product_Row{
    padding: 6%;
    height: auto;
  }
  .citrusRoyalCanin__thirdSlide__ColMiddle_bottom{
    /* padding-bottom: 5%; */
  }
  /* .citrusRoyalCanin__firstSlide__middleContainer {
    height: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
  } */
  .citrusRoyalCanin__FirstSlide__ColRight {
    display: none;
  }
  .citrusRoyalCanin__shopCTALarge {
    background: #00195200;
    text-transform: capitalize;
    color: #001952;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-decoration: underline;
    font-weight: bold;
  }
  /* slider 2 */
  /* .citrusRoyalCanin__secondSlide_Row {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  } */
  .citrusRoyalCanin__Middle_textContainer p,
  .citrusRoyalCanin__secondSlide__textContainer p {
    width: 100%;
    /* font-weight: bold; */
  }
  /* slider 3 */
  /* .citrusRoyalCanin__thirdSlide_Row {
    grid-template-columns: repeat(1, 1fr);
  } */
  /* .citrusRoyalCanin__thirdSlide__col.left {
    order: 2;
  }
  .citrusRoyalCanin__thirdSlide__col.right {
    order: 1;
  } */
  /* .citrusRoyalCanin__thirdSlide__textContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
  } */
  /* .citrusRoyalCanin__thirdSlide__title {
    text-align: center;
  }
  .citrusRoyalCanin__thirdSlide__textContainer .citrusRoyalCanin__sliderText {
    width: 70%;
    margin: auto;
  } */
  .citrusRoyalCanin__thirdSlide_cta_wide{
    width: 170px;
  }
  /* -------------benefit------------- */
.citrus_RoyalCanin_cmon-heading{
  max-width: 67%;
  margin: 0px auto;
}
  /* -------------product------------- */

  .citrus-meet-orijen-main21 {
    width: 350%;
  }
  .citrus_item_section__tab_content_item {
    max-width: 225px;
  }
  .citrus_meet_tab_item {
    font-size: 12px;
  }
  .cirtus_meet_tabs_main_22 .splide__arrows {
    display: none;
  }
  /* -------------------------- */
  .citrusRoyalCanin__sectionTitle{
    max-width: 85%;
    margin: 0px auto;
  }
  .citrusRoyalCanin__sectionTitle > h2{
    color: #000000;
    font-family: "PetcoCircularTT-Bold", arial !important;
    display: block;
    text-align: center;
    font-size: 25px;
    padding-bottom: 27px;
  }
  .citrusRoyalCanin__premiumContainer {
    width: 100%;
    overflow-x: auto;
  }
  .citrusRoyalCanin__premium__row {
    display: flex;
    width: 170%;
    overflow-x: auto;
  }
  .citrusRoyalCanin__premium__card--body {
    width: 100%;
  }
  .citrusRoyalCanin__premium__card--body h2 {
    font-size: 17px;
  }

  /* ------------------------ */

  .citrusRoyalCanin__newPremium__container > .citrusRoyalCanin__sectionTitle h2 {
    text-align: center;
    width: 60%;
    margin: auto;
  }
  .citrusRoyalCanin__sectionSubhead {
    width: 80%;
    margin: auto;
    text-align: center;
    border-color: #fff;
  }
  .citrusRoyalCanin__newPremium__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    grid-gap: 0px;
  }
  .citrusRoyalCanin__newPremium__productShotContainer {
    width: 100%;
    overflow-x: auto;
  }
  .citrusRoyalCanin__newPremium__leftImage {
    padding-right: 0px;
  }
  .citrusRoyalCanin__newPremium__productShot--row {
    margin-top: 55px;
    display: flex;
    width: 340%;
  }
  .citrusRoyalCanin__newPremium__productShot--card__img {
    height: 190px;
  }
  .citrusRoyalCanin__newPremium__productShot--card {
    margin-bottom: 15px;
  }

  /* ------------------------ */
  .citrusRoyalCanin__perfectContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .citrusRoyalCanin__perfect__row {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .citrusRoyalCanin__perfect__col h2 {
    margin-top: 27px;
  }
  .citrusRoyalCanin__perfect__col p {
    margin: 0 1%;
    padding-bottom: 35px;
  }
  .citrusRoyalCanin__perfect__col img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  /* slider custom styling */
  .citrusRoyalCanin__sliderBox {
    height: auto;
  }
  /* benefits */
  .citrus_RoyalCanin_single_b_main{
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .citrus_RoyalCanin_single_banifit{
    min-width: 60%;
  }
  /* benefits e */
  /* Video  */
  .citrus_RoyalCanin__video_container_vidoeRow{
    flex-wrap: wrap;
    flex-flow: column-reverse;
  }
  .citrus_RoyalCanin__video_container .citrus_RoyalCanin__video_container--col{
    width: 100%;
  }
  /* Video s */
  .video_sliderCTAcenter a{
    display: inline-flex;
  }
  /* Video e */

  .citrusRoyalCanin__calltoaction_Product_Row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .calltoaction_sliderCTAcenter{

  }
}

@media all and (max-width: 420px) {
  .citrusRoyalCanin__firstSlide__title,
  .citrusRoyalCanin__secondSlide__title,
  .citrusRoyalCanin__thirdSlide__title {
    font-size: 25px;
  }
  .citrusRoyalCanin__Middle_textContainer p,
  .citrusRoyalCanin__secondSlide__textContainer p {
    font-size: 14px;
    font-weight: 400;
  }
  .citrusRoyalCanin__thirdSlide__textContainer {
    width: 100%;
  }
  .citrusRoyalCanin__thirdSlide__textContainer .citrusRoyalCanin__sliderText {
    width: 90%;
  }
  .citrus_item_section__tab_content_item {
    margin: 0px 10px;
  }
}
